strong {
    margin: 20px 20px 20px 40px;
}

p {
    margin: 0px 20px 20px 40px;
}

.container {
    width: 110%;
    margin-left: -5%;
}

.container-fluid {
    width: 110%;
    margin-left: -5%;
}

