@{
    ViewBag.Title = "Order";
}
<br />
<br />
<br />
<br />
<div class="container-fluid" style="background-color:#ffe8d3;">
    <div class="row">
        <div class="col-lg-5" id="form" style="border-right: 1px solid #333;">
            <h2>Bestellen zonder account</h2>
            <form class="form-inline" role="form" action="" method="POST">
                <h2>Prijs: &#8364; @ViewBag.Prijs</h2>
                <input type="text" value="@ViewBag.Prijs" name="prijs" id="prijs" style="visibility:hidden">
                <br/>
                Email:<br/>
                <input type="email" class="form-control" name="o_email" id="o_email" placeholder="Email" required><br />
                Voorletters:<br/>
                <input type="text" class="form-control"  placeholder="H.F." required><br />
                Achternaam:<br/>
                <input type="text" class="form-control" name="o_name" id="o_name" placeholder="Achternaam" required><br />
                Postcode:<br/>
                <input type="text" class="form-control" name="o_postal" id="o_postal" placeholder="Postcode" required><br />
                Adres:<br/>
                <input type="text" class="form-control" name="o_address" id="o_address" placeholder="Adres" required><br />
                Huisnummer:<br/>
                <input type="number" class="form-control" name="o_number" id="o_number" placeholder="Huisnummer" required>
                <br/><br/>
                <button type="submit" asp-controller="Order" asp-action="Pay" class="btn btn-success col-sm-4">Bestellen</button>
            </form>
            <br/><br/>
        </div>
        <div class="col-lg-5">
            <br/><br/>
            <h3>Of maak een nieuw account aan!</h3>
            <p> Met een account kun je wenslijsten aanmaken je kunt de site op uw eigen dieren personaliseren en nog veel meer!</p>
            <a asp-controller="Account" asp-action="Aanmelden"><button class="btn btn-success col-sm-4" style="margin-left: 20px;">Aanmaken</button></a>
        </div>
    </div>
</div>