@{
    ViewBag.Title = "OrderHistory";
}


<br><br><br>

<!-- HEADER -->
<div class="row">
    <div class="col-md-6">
        <h2>Order History</h2>
    </div>
</div>

<br>

<!-- WHEN NOT HARDCODED THESE SHOULD BE GENERATED WITH A FOREACH -->
<div class="row">
    <br><br>
    <div class="col-md-12">
        <table class="table">
            <tr>
                <td>Bestelling</td>
                <td>Datum</td>
                <td>Bedrag</td>
                <td>Orderstatus</td>
                <td>@Html.ActionLink("Bestelling bekijken", "#", "Order", new { area = "" }, new { @class = "" })</td>
            </tr>
            <tr>
                <td>10234901824190121</td>
                <td>05.09.18</td>
                <td>$ 189.94</td>
                <td>Afgeleverd</td>
                <td>@Html.ActionLink("Bestelling bekijken", "#", "Order", new { area = "" }, new { @class = "" })</td>
            </tr>
            <tr>
                <td>102353623515235</td>
                <td>25.12.18</td>
                <td>$ 95.24</td>
                <td>Afgeleverd</td>
                <td>@Html.ActionLink("Bestelling bekijken", "#", "Order", new { area = "" }, new { @class = "" })</td>
            </tr>
                        <tr>
                <td>124235363121421</td>
                <td>25.09.18</td>
                <td>$ 25.94</td>
                <td>Verzonden</td>
                <td>@Html.ActionLink("Bestelling bekijken", "#", "Order", new { area = "" }, new { @class = "" })</td>
            </tr>
        </table>
    </div>
</div>