
@{
    ViewData["Title"] = "ViewOrder";
}

<h2>ViewOrder</h2>
<div class="container-fluid" id="bodyPB" style="background-color:#ffe8d3;">
    <div class="row">
        <br><br>
        <div class="col-md-12">
            <p align="left">items</p>
        </div>
    </div>
    <hr>
    @foreach (var item in ViewBag.ViewOrder)
    {
        <div class="row">
            <div class="col-md-2">
                <br>
                <img src="~/Content/Images/@item.image" width="180px" />
            </div>
            <div class="col-md-2">
                <h3>@item.Naam</h3>
                <p>Quantity: @item.Kwantiteit</p>
                <p>Price: $ @item.Prijs</p>
            </div>
            <div class="col-md-8">
                <br><br>
                <form class="form-products" method="post" asp-controller="Voorraad" asp-action="RemoveFromShoppingCart">
                    <button type="submit" asp-controller="Voorraad" asp-action="RemoveFromShoppingCart" asp-route-productId="@item.Id" class="btn btn-danger col-sm-4" align="right">Remove</button>
                </form>
            </div>
        </div>
        <br>
        <hr>
    }
</div>

