<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>ViewData["Title"] - Petgoods4All</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/Content/signin.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <script type="text/javascript">// Using jQuery.

        $(document).ready(function() {

            $('#searchKlanten').keydown(function(event) {
                // enter has keyCode = 13, change it if you want to use another button
                if (event.keyCode == 13) {
                    this.form.submit();
                    return false;
                }
            });

        });</script>
</head>
<body>
    <br /><br /><br /><br /><br /><br /><br />
    <form class="table" method="put" style="background-color:#ffe8d3;">
        <div class="row">
            <h2>Klant beheer</h2>
            <p>
                <a href="~/Views/Admin/AdminInstellingen.cshtml">Instellingen</a> | 
                <a href="~/Views/Admin/AdminProductbeheer.cshtml">Product beheer</a>
            </p>
        </div>
        <div class="row">
                <button asp-controller="Admin" id="searchKlanten" asp-action="searchKlanten" class="btn btn-sm btn-primary btn-block" type="submit">Search</button>
                <input class="form-control btn-sm type="search" placeholder="Search" aria-label="Search">

        </div>
        <div class="row">
            <table>
                <tr>
                    <th>Gebr.Nm</th>
                    <th>Naam</th>
                    <th>E-mail</th>
                    <th>Tel.</th>
                    <th>Addres</th>
                    <th>Wachtwoord</th>
                    <th>Save</th>
                    <th>X</th>
                </tr>
                <tr>
                    <td>
                        <input type="text" id="inputAdminKlantVoorNm" name="inputAdminKlantVoorNm" class="form-control" placeholder="Voornaam" required>
                    </td>
                    <td>
                        <input type="text" id="inputAdminKlantAchterNaam" name="inputAdminKlantAchterNm" class="form-control" placeholder="Achternaam" required>
                    </td>
                    <td>
                        <input type="email" id="inputAdminKlantMail" name="inputAdminKlantMail" class="form-control" placeholder="E-mail" required>
                    </td>
                    <td>
                        <input type="number" id="inputAdminKlantTel" name="inputAdminKlantTel" class="form-control" placeholder="Tel." required>
                    </td>
                    <td>
                        <input type="text" id="inputAdminKlantAdres" name="inputAdminKlantAdres" class="form-control" placeholder="Adres" required>
                    </td>
                    <td>
                        <input type="password" id="inputAdminKlantWw" name="inputAdminKlantWw" class="form-control" placeholder="Ww" required>
                    </td>
                    <td>
                        <button asp-controller="Admin" asp-action="CreateProduct" class="btn btn-sm btn-primary btn-block" type="submit">Opslaan</button>
                    </td>
                    <td>
                        <button asp-controller="Admin" asp-action="DeleteProduct" class="btn btn-sm btn-primary btn-block" type="submit">Delete</button>
                    </td>
                </tr><br />
            </table>
        </div><br /><br />
    </form>
</body>
</html>