<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>ViewData["Title"] - Petgoods4All</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <form class="input-group" method="put" style="background-color:#ffe8d3;">
        <h2>Admin Home</h2>
        <p>
            Welkom administrator. <br /><br />
            <!-- <a asp-area="" asp-controller="Admin" asp-action="AdminKlantIndex">Klant beheer</a><br />
            
            <a asp-area="" asp-controller="Admin" asp-action="AdminVoorraadIndex">Product beheer</a><br>
            <a asp-area="" asp-controller="Admin" asp-action="Omzet">Omzet</a><br> -->
            
            <button 
                type="submit" asp-area="" asp-controller="Admin" asp-action="AdminKlantIndex" 
                class="btn btn-warning">Klant beheer
            </button><br>
            <button 
                type="submit" asp-controller="Admin" asp-action="AdminVoorraadIndex"
                class="btn btn-warning">
                Product beheer
            </button><Br>
            <button 
                type="submit" asp-controller="Admin" asp-action="Omzet"
                class="btn btn-warning ">
                Omzet
            </button>
        </p>
    </form>
</body>
</html>