@model petgoods4all.Models.Voorraad

@{
    ViewData["Title"] = "AdminCreateVoorraad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Product toevoegen</h2>

<h4>Voorraad</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AdminCreateVoorraad">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Naam" class="control-label"></label>
                <input asp-for="Naam" class="form-control" />
                <span asp-validation-for="Naam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dier" class="control-label"></label>
                <input asp-for="Dier" class="form-control" />
                <span asp-validation-for="Dier" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subklasse" class="control-label"></label>
                <input asp-for="Subklasse" class="form-control" />
                <span asp-validation-for="Subklasse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kwantiteit" class="control-label"></label>
                <input asp-for="Kwantiteit" class="form-control" />
                <span asp-validation-for="Kwantiteit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prijs" class="control-label"></label>
                <input asp-for="Prijs" class="form-control" />
                <span asp-validation-for="Prijs" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="image" class="control-label"></label>
                <input asp-for="image" class="form-control" />
                <span asp-validation-for="image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" asp-action="AdminCreateVoorraadSave" value="Opslaan" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="AdminVoorraadIndex">Terug naar de lijst</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
