.obj/
.bin/
.Migrations/
.vs/
.vscode/
.petgoods4all/vscode/
.petgoods4all/bin/
.petgoods4all/obj/
.petgoods4all/Migrations/
.vscode/tasks.json
.vscode/launch.json
.vscode/tasks.json
.vscode/launch.json
*.dll
*.dll
petgoods4all/obj/Debug/netcoreapp2.0/petgoods4all.pdb
petgoods4all/obj/Debug/netcoreapp2.0/petgoods4all.pdb
