<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Petgoods4All</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <link rel="stylesheet" href="~/Content/índex.css"/>

    @*Search form submit when enter is pressed*@
    <script type="text/javascript">
        // Using jQuery.

        $(document).ready(function () {

            $('#productSearch').keydown(function (event) {
                // enter has keyCode = 13, change it if you want to use another button
                if (event.keyCode == 13) {
                    this.form.submit();
                    return false;
                }
            });

        });
    </script>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header left">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                    <img src="~/Content/Images/Logo_Petgoods4You.png" alt="Logo" width="200" height="50" />
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a asp-area="" asp-controller="Home" asp-action="productBrowsen" asp-route-D="dog">Dog</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="productBrowsen" asp-route-D="cat">Cat</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="productBrowsen" asp-route-D="fish">Fish</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="productBrowsen" asp-route-D="reptile">Reptiles</a></li>
                    
                    <li>
                        <form class="nav navbar-form form-inline" method="post" asp-controller="Voorraad" asp-action="productSearch" asp->
                            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="productSearch" name="productSearch">
                        </form>
                    </li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                    @using Microsoft.AspNetCore.Http;

                    @if (Context.Session.GetInt32("UserIdKey") != null)
                    {
                        <li><a asp-area="" asp-controller="Order" asp-action="OrderHistory" asp-route-D="reptile">Bestel Geschiedenis</a></li>
                        <li><a asp-area="" asp-controller="Voorraad" asp-action="ShoppingCart">&#xe116;</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Wishpage">&#10084;</a></li>
                    }

                    @if (Context.Session.GetInt32("UserIdKey") == null)
                    {
                        <li><a asp-area="" asp-controller="Account" asp-action="Aanmelden">Sign Up</a></li>
                        <li><a asp-area="" asp-controller="Account" asp-action="Inloggen">Login</a></li>
                    }
                    @if (Context.Session.GetInt32("UserIdKey") != null)
                    {
                        <li><a asp-area="" asp-controller="#" asp-action="#">logout</a></li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Petgoods4All</p>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
