@{
    ViewBag.Title = "About";
}<br /><br/>
<div class="container-fluid" style="background-color:#ffe8d3;">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
    <p>Use this area to provide additional information.</p>
</div>