<!-- Dit is gemaakt door Pepijn Fijt, als jullie het niet begrijpen dan moet je even een berichtje versturen-->
@model IEnumerable<petgoods4all.Models.Voorraad>
<div class="container-fluid" style="background-color:#ffe8d3;">
    <div class="row">
        <br>
        <h2>Het product is toegevoegd aan uw wenslijst</h2>
    </div>
    <div class="row">
        <p>
            <a href="~Home/AddToWishpage">-Naar de wenslijst-</a>
        </p>
        <br/>
        <br/>
    </div>
</div>