@{
    ViewBag.Title = "Contact";
}
<br />
<br />
<br />
<br />
<head>
    <link rel="stylesheet" href="~/Content/contact.css" />
</head>
<div class="container-fluid" style="background-color:#ffe8d3;">

    <h2>@ViewBag.Title us</h2>
    <div class="row">
        <div class="col-lg-7" id="form">
            <form class="form-inline" role="form">
                <input type="text" class="form-control" id="name2" placeholder="Enter name"><br />
                <input type="text" class="form-control" id="phone2" placeholder="Enter phone number"><br />
                <input type="text" class="form-control" id="email2" placeholder="Enter email"><br /><br />
                <textarea class="form-control" rows="5" id="helpme" placeholder="How can we help you?"></textarea>
                <button type="button" class="btn btn-primary mb-12">Send</button>
            </form>
        </div>
        <div class="col-lg-5">
            <address>
                <strong>Customer service</strong><br />
                <p>Phone: 425.555.0100<br />
                Email: <a href="mailto:Support@example.com">Support@example.com</a></p>
            </address><br />
            <address>
                <strong>Headquarter</strong><br />
                <p>
                    Company Inc.<br />
                    One Microsoft Way<br />
                    Redmond, WA 98052-6399<br />
                    Phone: 425.555.0100<br />
                    <a href="mailto:Marketing@example.com">Marketing@example.com</a>
                </p>
            </address>
        </div>
    </div>
</div>