@{
    ViewBag.Title = "Bedrijfsinformatie";
}

<head>
    <link rel="stylesheet" href="~/Content/infoPagina.css" />
</head>

<br />
<br />
<br />
<div class="container-fluid" style="background-color:#ffe8d3;">
    <h2>@ViewBag.Title</h2>
    <div class="container-fluid">
        <div class="row">
            <strong>Algemene Voorwaarden Thuiswinkel </strong>
            <p>
                Deze Algemene Voorwaarden van de Nederlandse Thuiswinkel Organisatie zijn
                tot stand gekomen in overleg met de Consumentenbond in het kader van de
                Coördinatiegroep Zelfreguleringsoverleg (CZ) van de Sociaal-Economische
                Raad en treden in werking per 9 juli 2015.
            </p>
        </div>
        <div class="row">
            <strong>Levering</strong>
            <p>
                1 Levering door Petgoods4All vindt plaats door afgifte aan de eerste vervoerder. <br>
                2 Petgoods4All levert de bestelling zoals op de internetpagina is vermeld.<br>
                3 Verzending vindt in de regel plaats binnen 5 werkdagen na ontvangst van betaling. 
                Indien één of meerdere artikelen niet op voorraad zijn, kan het gebeuren dat deze 
                levertijd enkele dagen overschreden wordt.<br>
                4 Overschrijding van enige leveringstermijnen geeft consument/ afnemer geen recht 
                op schadevergoeding en evenmin het recht de bestelling te annuleren dan wel de 
                overeenkomst te ontbinden.<br>
                5 De maximale levertijd is 30 dagen tenzij anders is overeengekomen. Indien deze 
                levertijd niet kan worden gehanteerd door welke omstandigheden dan ook zal 
                Petgoods4All de consument / afnemer hiervan op de hoogte stellen. 
                Beide partijen zijn dan gerechtigd de overeenkomst te ontbinden.<br>
                6 Indien levering van een artikel om welke reden dan ook niet mogelijk blijkt te zijn, 
                kan Petgoods4All (indien consument / afnemer dit wenst) een zowel wat prijs als kwaliteit 
                vergelijkbaar ander artikel leveren.<br>
                7 Indien een bestelling niet of onvolledig wordt geleverd kan de consument / afnemer dit 
                binnen 14 dagen aan Petgoods4All melden, en wordt de aflevering eventueel op de kosten 
                van Petgoods4All aangevuld of opnieuw verricht.<br>
            </p>
        </div>
        <div class="row">
            <strong>Verplichtingen van de consument tijdens de bedenktijd</strong>
            <p>
                1. Tijdens de bedenktijd zal de consument zorgvuldig omgaan met het product
                en de verpakking. Hij zal het product slechts uitpakken of gebruiken in de
                mate die nodig is om de aard, de kenmerken en de werking van het product vast
                te stellen. Het uitgangspunt hierbij is dat de consument het product slechts
                mag hanteren en inspecteren zoals hij dat in een winkel zou mogen doen.<br />
                2. De consument is alleen aansprakelijk voor waardevermindering van het product
                die het gevolg is van een manier van omgaan met het product die verder gaat
                dan toegestaan in lid 1.<br />
                3. De consument is niet aansprakelijk voor waardevermindering van het product
                als de ondernemer hem niet voor of bij het sluiten van de overeenkomst alle
                wettelijk verplichte informatie over het herroepingsrecht heeft verstrekt.
            </p>
        </div>
        <div class="row">
            <strong>Retour</strong>
            <p>
                Het kan ooit eens voorkomen dat u een product wilt retourneren. 
                Dit kan binnen 7 dagen na aflevering, mits de geleverde artikelen in een 
                ongeopende verpakking, en onbeschadigd zijn. In de Algemene Voorwaarden 
                vindt u aan welke vereisten u moet voldoen. Let op: de kosten van de 
                retourzending komen voor uw eigen rekening. Neem altijd eerst even contact 
                met ons op als u iets wilt retourneren.
            </p>
        </div>
        <div class="row">
            <strong>De prijs</strong>
            <p>
                1. Gedurende de in het aanbod vermelde geldigheidsduur worden de prijzen van de 
                aangeboden producten en/of diensten niet verhoogd, behoudens prijswijzigingen 
                als gevolg van veranderingen in btw-tarieven.<br />
                2. In afwijking van het vorige lid kan de ondernemer producten of diensten waarvan 
                de prijzen gebonden zijn aan schommelingen op de financiële markt en waar de 
                ondernemer geen invloed op heeft, met variabele prijzen aanbieden. 
                Deze gebondenheid aan schommelingen en het feit dat eventueel vermelde prijzen 
                richtprijzen zijn, worden bij het aanbod vermeld.<br />
                3. Prijsverhogingen binnen 3 maanden na de totstandkoming van de overeenkomst zijn 
                alleen toegestaan indien zij het gevolg zijn van wettelijke regelingen of 
                bepalingen.<br />
                4. Prijsverhogingen vanaf 3 maanden na de totstandkoming van de overeenkomst zijn 
                alleen toegestaan indien de ondernemer dit bedongen heeft en:
                deze het gevolg zijn van wettelijke regelingen of bepalingen; of
                de consument de bevoegdheid heeft de overeenkomst op te zeggen met ingang 
                van de dag waarop de prijsverhoging ingaat.<br />
                5. De in het aanbod van producten of diensten genoemde prijzen zijn inclusief btw.
            </p>
        </div>
        <div class="row">
            <strong>Garantie</strong>
            <p>
                1 Petgoods4All garandeert de kwaliteit van de door haar geleverde artikelen gedurende 
                drie maanden na aflevering. Indien gewenst kan Petgoods4All consument / afnemer vragen 
                het product op te sturen voor inspectie 
                van de aard en de oorzaak van het defect. Dit dient altijd voldoende gefrankeerd te gebeuren. <br>
                2 De verzendkosten voor het sturen van een nieuw of gerepareerd artikel worden 
                alleen vergoed door Petgoods4All indien het defect valt onder garantie. Let op: 
                Petgoods4All is niet aansprakelijk voor defecten tijdens het vervoer. Indien gewenst 
                kan consument/ afnemer de producten met verhoogd aansprakelijkheid versturen zodat 
                alle schade te verhalen is op de vervoerder.<br>
                3 Garantie- aanspraken kunnen alleen binnen 7 dagen na ontdekking van het gebrek
                 schriftelijk of per e-mail bij Petgoods4All worden ingediend en wel met een korte 
                 omschrijving van het gebrek en onder toezending van een kopie van de factuur.<br>
                4 Petgoods4All zal het artikel repareren, vervangen of vergoeden indien er aan de in 8.3 
                gestelde voorwaarden is voldaan.<br>
                5 Deze garantie is niet van toepassing indien: <br>
                a. er wijzigingen aan het artikel zijn aangebracht; <br>
                b. er sprake is van gebreke die ontstaan zijn door foutief of onoordeelkundig gebruik;<br>
                c. het gebrek is ontstaan door opzet of grove onachtzaamheid;<br>
                d. Petgoods4All niet (tijdig) in de gelegenheid is gesteld de klacht te onderzoeken en
                 het gebrek eventueel te herstellen;<br>

            </p>
        </div>
        <div class="row">
            <strong>Aansprakelijkheid</strong>
            <p>
                1 De aansprakelijkheid van Petgoods4All met betrekking tot de verkoop en levering van 
                artikelen is uitdrukkelijk beperkt tot de onder artikel 8 geregelde garantie. <br>
                2 Consument / afnemer vrijwaart Petgoods4All voor eventuele aanspraken van derden, 
                die in verband met de uitvoering van de overeenkomst schade lijden en welke aan 
                Petgoods4All toerekenbaar is.<br>
                3 Petgoods4All is niet aansprakelijk voor door leveranciers of producenten verstrekte 
                technische gegevens en niet voorzienbare en redelijkerwijs niet controleerbare slechte 
                kwaliteit van de producten.<br>
                4 Indien Petgoods4All in enig geval, ondanks bovenstaande, voor enige schade aansprakelijk 
                is, aanvaardt zij slechts aansprakelijkheid voor zover deze aansprakelijkheid beperkt is
                 tot het bedrag van de terzake doende factuur.

            </p>
        </div>
        <div class="row">
            <strong>Overmacht </strong>
            <p>
                1 Petgoods4All en consument / afnemer kunnen gedurende de periode dat de overmacht 
                voortduurt de verplichtingen uit de overeenkomst opschorten. Indien deze periode 
                langer duurt dan twee maanden is ieder der partijen gerechtigd de overeenkomst te 
                ontbinden, zonder verplichting tot vergoeding van schade aan de andere partij.
                2 Onder overmacht wordt in deze algemene voorwaarden verstaan naast hetgeen 
                daaromtrent in de wet en jurisprudentie wordt begrepen, alle van buiten komende 
                oorzaken, waarop Petgoods4All geen invloed kan uitoefenen, welke niet aan ons 
                kan worden toegerekend en die de nakoming van de overeenkomst belet, of in zo 
                ernstige mate belemmert of bezwaarlijk maakt, dat die nakoming in redelijkheid 
                niet van ons kan worden gevergd. 
            </p>
        </div>
        <div class="row">
            <strong>Ontbinding</strong>
            <p> 
                1 Petgoods4All is bevoegd de nakoming van de verplichtingen op te schorten of 
                de overeenkomst te ontbinden, indien:<br>
                a: consument / afnemer de verplichtingen uit de overeenkomst niet of niet volledig nakomt;<br>
                b: na het sluiten van de overeenkomst Petgoods4All ter kennis gekomen 
                omstandigheden goede grond geven te vrezen dat de consument / afnemer 
                de verplichtingen niet zal nakomen. In geval er goede grond bestaat te vrezen 
                dat de consument / afnemer slechts gedeeltelijk of niet behoorlijk zal nakomen, 
                is de opschorting slechts toegelaten voor zover de tekortkoming haar rechtvaardigt;<br>
                2 Voorts is Petgoods4All bevoegd de overeenkomst te (doen) ontbinden indien zich 
                omstandigheden voordoen welke van dien aard zijn dat nakoming van de overeenkomst 
                onmogelijk of naar maatstaven van redelijkheid en billijkheid niet langer kan 
                worden gevergd dan wel indien zich anderszins omstandigheden voordoen welke van 
                dien aard zijn dat ongewijzigde instandhouding van de overeenkomst in redelijkheid 
                niet mag worden verwacht.
            </p>
        </div>
        <div class="row">
            <strong>Geschillen</strong>
            <p>
                1 Op deze algemene voorwaarden is Nederlands recht van toepassing.<br>
                2 Geschillen worden zoveel mogelijk in onderling overleg opgelost.<br>
                3 Alle geschillen die naar aanleiding van deze overeenkomst of daaruit 
                vloeiende overeenkomsten tussen partijen mochten ontstaan zullen worden 
                berecht door de Nederlandse rechter. 
            </p>
        </div>
        <div class="row">
            <strong>Slotbepaling</strong>
            <p>
                Mocht enige bepaling van deze voorwaarden naar het oordeel van de bevoegde 
                rechter niet van toepassing zijn of in strijd met de openbare orde of wet zijn, 
                dan zal slechts de betreffende bepaling als niet geschreven worden beschouwd 
                en zullen partijen deze vervangen door één of meer bepalingen welke zo nauw 
                mogelijk aansluiten bij de strijdige bepaling(en) en zullen overigens deze 
                algemene voorwaarden volledig van kracht blijven.
            </p>
        </div>

        <div class="row" id="">
            <div class="col-lg-4"></div>
            <div class="col-lg-4"></div>
            <div class="col-lg-4"></div>
        </div>
    </div>
</div>