@{
    ViewBag.Title = "Information";
}

<head>
    <link rel="stylesheet" href="~/Content/infoPagina.css" />
</head>

<br />
<br />
<br />
<div class="container-fluid" style="background-color:#ffe8d3;">
    <h2>@ViewBag.Title</h2>
    <div class="container-fluid">
        <div class="row">
            <strong>Algemene Voorwaarden Thuiswinkel </strong>
            <p>
                Deze Algemene Voorwaarden van de Nederlandse Thuiswinkel Organisatie zijn
                tot stand gekomen in overleg met de Consumentenbond in het kader van de
                Coördinatiegroep Zelfreguleringsoverleg (CZ) van de Sociaal-Economische
                Raad en treden in werking per 9 juli 2015.
            </p>
        </div>
        <div class="row">
            <strong>Verplichtingen van de consument tijdens de bedenktijd</strong>
            <p>
                1. Tijdens de bedenktijd zal de consument zorgvuldig omgaan met het product
                en de verpakking. Hij zal het product slechts uitpakken of gebruiken in de
                mate die nodig is om de aard, de kenmerken en de werking van het product vast
                te stellen. Het uitgangspunt hierbij is dat de consument het product slechts
                mag hanteren en inspecteren zoals hij dat in een winkel zou mogen doen.<br />
                2. De consument is alleen aansprakelijk voor waardevermindering van het product
                die het gevolg is van een manier van omgaan met het product die verder gaat
                dan toegestaan in lid 1.<br />
                3. De consument is niet aansprakelijk voor waardevermindering van het product
                als de ondernemer hem niet voor of bij het sluiten van de overeenkomst alle
                wettelijk verplichte informatie over het herroepingsrecht heeft verstrekt.
            </p>
        </div>
        <div class="row">
            <strong>De prijs</strong>
            <p>
                1. Gedurende de in het aanbod vermelde geldigheidsduur worden de prijzen van de 
                aangeboden producten en/of diensten niet verhoogd, behoudens prijswijzigingen 
                als gevolg van veranderingen in btw-tarieven.<br />
                2. In afwijking van het vorige lid kan de ondernemer producten of diensten waarvan 
                de prijzen gebonden zijn aan schommelingen op de financiële markt en waar de 
                ondernemer geen invloed op heeft, met variabele prijzen aanbieden. 
                Deze gebondenheid aan schommelingen en het feit dat eventueel vermelde prijzen 
                richtprijzen zijn, worden bij het aanbod vermeld.<br />
                3. Prijsverhogingen binnen 3 maanden na de totstandkoming van de overeenkomst zijn 
                alleen toegestaan indien zij het gevolg zijn van wettelijke regelingen of 
                bepalingen.<br />
                4. Prijsverhogingen vanaf 3 maanden na de totstandkoming van de overeenkomst zijn 
                alleen toegestaan indien de ondernemer dit bedongen heeft en:
                deze het gevolg zijn van wettelijke regelingen of bepalingen; of
                de consument de bevoegdheid heeft de overeenkomst op te zeggen met ingang 
                van de dag waarop de prijsverhoging ingaat.<br />
                5. De in het aanbod van producten of diensten genoemde prijzen zijn inclusief btw.
            </p>
        </div>
        <div class="row">
            <strong></strong>
            <p>
            </p>
        </div>

        <div class="row" id="">
            <div class="col-lg-4"></div>
            <div class="col-lg-4"></div>
            <div class="col-lg-4"></div>
        </div>
    </div>
</div>