@{
    ViewBag.Title = "ShoppingCart";
}

<br><br><br><br>

<!-- HEADER, ORDER AND PRICE INDICATOR-->
<div class="row">
    <div class="col-md-6">
        <h2>price: $ 100000</h2>
    </div>

    <div class="col-md-6">
        <h2 align="right"><button type="button" class="btn btn-success">Order now</button></h2>
    </div>
</div>

<br>

<!-- 1 ROW DIV REPRESENTS ONE ITEM -->

<!-- WHEN NOT HARDCODED THESE SHOULD BE GENERATED WITH A FOREACH -->
<div class="row">
    <br><br>
    <div class="col-md-12">
        <p align="left">items</p>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-2">
        <br>
        <img src="~/Content/Images/Cat food.jpg" width="180px" />
    </div>
    <div class="col-md-2">
        <h3>Product Title</h3>
        <p>Quantity: 1</p>
        <p>Price: $ 9</p>
    </div>
    <div class="col-md-8">
        <br><br>
        <h3 align="right">X</h3>
    </div>
</div>
<br>
<hr>

<div class="row">
    <div class="col-md-2">
        <br>
        <img src="~/Content/Images/Cat food.jpg" width="180px" />
    </div>
    <div class="col-md-2">
        <h3>Product Title</h3>
        <p>Quantity: 1</p>
        <p>Price: $ 9</p>
    </div>
    <div class="col-md-8">
        <br><br>
        <h3 align="right">X</h3>
    </div>
</div>
<br>
<hr>

<div class="row">
    <div class="col-md-2">
        <br>
        <img src="~/Content/Images/Cat food.jpg" width="180px" />
    </div>
    <div class="col-md-2">
        <h3>Product Title</h3>
        <p>Quantity: 1</p>
        <p>Price: $ 9</p>
    </div>
    <div class="col-md-8">
        <br><br>
        <h3 align="right">X</h3>
    </div>
</div>
<br>
<hr>
   

