@model IEnumerable<petgoods4all.Models.Account>

@{
    ViewData["Title"] = "Klant Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<body>

    <br /><br /><br /><br /><br /><br /><br />
    <form class="table" method="put" asp-action="UpdateAccount">
        <div class="container-fluid" style="background-color:#ffe8d3;">
            <div class="row">
                <h2>Gegevens beheer</h2>
                <p>
                    <a href="~/User/UserHome">Home</a>
                </p>
            </div>
            <div class="row">
                <table>
                            <tr>
                                <th>Voornaam</th>
                                <th>Achternaam</th>
                            </tr>
                            <tr>
                                <td>
                                    <input type="voornaam" id="inputVoornaamUser" name="inputVoornaamUser" class="form-control" required >
                                </td>
                                <td>
                                    <input type="achternaam" id="inputAchternaamUser" name="inputAchternaamUser" class="form-control" required >
                                </td>
                            </tr>
                            <tr>
                                <th>Straatnaam</th>
                                <th>Telefoonnummer</th>
                            </tr>
                            <tr>
                                <td>
                                    <input type="straatnaam" id="inputStraatnaamUser" name="inputStraatnaamUser" class="form-control" required >
                                </td>
                                <td>
                                    <input type="telefoonnummer" id="inputTelefoonnummerUser" name="inputTelefoonnummerUser" class="form-control" required >
                                </td>
                            </tr>
                            <tr>
                                <th>Nieuwe E-mail</th>
                                <th>Wachtwoord</th>
                            </tr>
                            <tr>
                                <td>
                                    <input type="email" id="inputEmailUser" name="inputEmailUser" class="form-control" required>
                                </td>
                                <td>
                                    <input type="password" id="inputPasswordUser" name="inputPasswordUser" class="form-control" required>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <button class="btn btn-sm btn-primary btn-block" value="Opslaan" type="submit">Opslaan</button>
                                </td>
                            </tr>
                </table>
                <br /><br />
            </div>
        </div>    
    </form>
</body>
</html>