<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>ViewData["Title"] - Petgoods4All</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/Content/signin.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <br /><br /><br /><br /><br /><br /><br />
    <form class="input-group" method="put" style="background-color:#ffe8d3;">
        <h2>User Home</h2>
        <p>
            Welcom administrator. <br /><br />
            <a href="~/Views/User/UserBeheer.cshtml">Gegevens beheer</a> | 
        </p>
    </form>
</body>
</html>