<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>ViewData["Title"] - Petgoods4All</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/Content/signin.css" />
        <link rel="stylesheet" href="~/Content/Site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>

    <script>
        var check = function () {
            if (document.getElementById('inputPassword').value ==
                document.getElementById('confirmPassword').value) {
                document.getElementById('messagePassword').style.color = 'green';
                document.getElementById('messagePassword').innerHTML = 'Wachtwoord komt overeen';
            } else {
                document.getElementById('messagePassword').style.color = 'red';
                document.getElementById('messagePassword').innerHTML = 'Wachtwoord komt niet overeen';
            }
        }
    </script>
    <script>
        var checkmatchingEmail = function () {
            if (document.getElementById('inputEmail').value ==
                document.getElementById('confirmEmail').value) {
                document.getElementById('messageEmail').style.color = 'green';
                document.getElementById('messageEmail').innerHTML = 'E-mail komt overeen';
            } else {
                document.getElementById('messageEmail').style.color = 'red';
                document.getElementById('messageEmail').innerHTML = 'E-mail komt niet overeen';
            }
        }
    </script>
    <script>
        function EmailCheck(){
            $.post("@Url.Action("CheckEmail","Account")",
            {
                inputEmail: $("#inputEmail").val()
            },
            function(data){
                if (data == 0){
                    $("#status").html('<font color="Green"></font>')
                    $("#inputEmail").css("border-color", "Green");
                }
                else{
                    $("#status").html('<font color="Red"> Er bestaat al een account met deze e-mail</font>')
                    $("#inputEmail").css("border-color", "Red");
                }
            });
        }
        </script>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            <br><br><br><br><br>
    <form class="form-signin" method="post">
        <div class="container-fluid" style="background-color:#ffe8d3;">
            
            <div class="text-center mb-4">
                <img class="mb-4" src="../../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
                <h1 class="h3 mb-3 font-weight-normal">Aanmelden</h1>
            </div>
            <div class="form-label-group">
                <label for="voornaam">Voornaam</label>
                <input type="text" id="inputVoornaam" name="inputVoornaam" class="form-control" placeholder="Voornaam" required>
            </div>
            <div class="form-label-group">
                <label for="achternaam">Achternaam</label>
                <input type="text" id="inputAchternaam" name="inputAchternaam" class="form-control" placeholder="Achternaam" required>
            </div>
            <div class="form-label-group">
                <label for="straatnaam">Straatnaam</label>
                <input type="text" id="inputStraatnaam" name="inputStraatnaam" class="form-control" placeholder="Straatnaam" required>
            </div>
            <div class="form-label-group">
                <label for="straatnaam">Huisnummer</label>
                <input type="text" id="inputHuisnummer" name="inputHuisnummer" class="form-control" placeholder="Huisnummer" required>
            </div>
            <div class="form-label-group">
                <label for="straatnaam">Postcode</label>
                <input type="text" id="inputPostcode" name="inputPostcode" class="form-control" placeholder="Postcode" required>
            </div>
            <div class="form-label-group">
                <label for="straatnaam">Provincie</label>
                <input type="text" id="inputProvincie" name="inputProvincie" class="form-control" placeholder="Provincie" required>
            </div>
            <div class="form-label-group">
                <label for="telefoonnummer">Telefoonnummer</label>
                <input type="text" id="inputTelefoonnummer" name="inputTelefoonummer" class="form-control" placeholder="Telefoonnummer" required>
            </div>
            <div class="form-label-group">
                <span id='status'></span><br>
                <label for="inputEmail">Email-adres</label>
                <input type="email" id="inputEmail" name="inputEmail" class="form-control" placeholder="Email-adres" onkeyup='EmailCheck();' required>
            </div>
            <div class="form-label-group">
                <span id='messageEmail'></span><br>
                <label for="inputEmail">Bevestig email</label>
                <input type="email" id="confirmEmail" name="confirmEmail" class="form-control" placeholder="Bevestig email" onkeyup='checkmatchingEmail();' required>
            </div>
            <div class="form-label-group">
                <label for="inputPassword">Wachtwoord</label>
                <input type="password" id="inputPassword" name="inputPassword" class="form-control" placeholder="Wachtwoord" required>
            </div>
            <div class="form-label-group">
                <span id='messagePassword'></span><br>
                <label for="inputPassword">Bevestig wachtwoord</label>
                <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" placeholder="Bevestig wachtwoord" onkeyup='check();' required>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Account aanmaken</button>
            <br>
        </div>
    </form>
</body>
</html>