<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>ViewData["Title"] - Petgoods4All</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/Content/signin.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>

    <script>
        var check = function () {
            if (document.getElementById('inputPassword').value ==
                document.getElementById('confirmPassword').value) {
                document.getElementById('message').style.color = 'green';
                document.getElementById('message').innerHTML = 'matching';
            } else {
                document.getElementById('message').style.color = 'red';
                document.getElementById('message').innerHTML = 'not matching';
            }
        }
    </script>
    <form class="form-signin" method="post">
        <div class="container-fluid" style="background-color:#ffe8d3;">
            <div class="text-center mb-4">
                <img class="mb-4" src="../../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
                <h1 class="h3 mb-3 font-weight-normal">Aanmelden</h1>
            </div>
            <div class="form-label-group">
                <label for="inputEmail">Email-adres</label>
                <input type="email" id="inputEmail" name="inputEmail" class="form-control" placeholder="Email-adres" required autofocus>
            </div><br />
            <div class="form-label-group">
                <label for="inputPassword">Wachtwoord</label>
                <input type="password" id="inputPassword" name="inputPassword" class="form-control" placeholder="Wachtwoord" required>
            </div>
            <div class="form-label-group">
                <span id='message'></span>
                <label for="inputPassword">Bevestig wachtwoord</label>
                <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" placeholder="Bevestig wachtwoord" onkeyup='check();' required>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Account aanmaken</button>
            <p class="mt-5 mb-3 text-muted text-center">&copy; 2018-2019</p>
            </div>
</form>
</body>
</html>