<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>ViewData["Title"] - Petgoods4All</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/Content/signin.css"/>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <br><br><br><br><br><br><br><br>
    <form class="form-signin" method="post">
        <div class="container-fluid" style="background-color:#ffe8d3;">
            <div class="text-center mb-4">
                <h1 class="h3 mb-3 font-weight-normal">Inloggen</h1><br>
            </div>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" id="inputEmail" name="inputEmail" class="form-control" placeholder="Email-adres" required autofocus>
            <br>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" name="inputPassword" class="form-control" placeholder="Wachtwoord" required>
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Gegevens onthouden
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Inloggen</button>
            <a asp-area="" asp-controller="Account" asp-action="Aanmelden">Nog geen account? Klik hier</a>
            <br><br>
        </div>
    </form>
</body>
</html>